*{
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    margin: 20px;
  }
  
  h1 {
    text-align: center;
  }
  
  input {
    padding: 5px;
  }
  
  button {
    padding: 5px 10px;
    margin-top: 10px;
  }
  
  h2 {
    margin-top: 20px;
  }
  
  #combinationsList {
    margin-top: 10px;
  }
  