*{
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #3498db; /* Cor de fundo azul */
    background-image: url('festajunina.png'); /* Imagem de festa junina */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 400px; /* Tamanho da imagem */
  }
  
  h1 {
    text-align: center;
    color: #ffffff; /* Cor do texto branco */  
  }
  
  input {
    padding: 5px;
  }
  
  button {
    padding: 5px 10px;
    margin-top: 10px;
  }
  
  h2 {
    margin-top: 20px;
  }
  
  #combinationsList {
    margin-top: 10px;
  }
  
